body{
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.layout{
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 3fr;
    min-height: 100vh;
}

.sidebar{
    background-color: dodgerblue;
    grid-row: 1 / 3;
    padding: 30px;
}

.header{
    background-color: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.main{
    background-color: gainsboro;
}

.dashboard{
    font-size: 30px;
    color: white;
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 12px;
}

.dashboard svg{
    height: 1em;
    fill: white;
}

.navigation{
    color: white;
    font-size: 20px;
}

.service{
    color: white;
    font-size: 20px;
}