body{
    margin: 0;
}

.layout{
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 3fr;
    min-height: 100vh;
}

.sidebar{
    background-color: dodgerblue;
    grid-row: 1 / 3;
}

.header{
    background-color: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.main{
    background-color: gainsboro;
}